{% extends "layout.html" %}

{% block title %}
       {{ party }}
{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if month %}
    <h3 style="color:#800000;">Date of Secret Santa Reveal: {{ month }} {{ day }}</h1>
    {% else %}
    <h3>A reveal date has not yet been set for your party.</h1>
    {% endif %}

    <br>

    {% if admin %}
    <button class = "btn btn-outline-danger" data-toggle="modal" data-target="#date">Edit Date</button>
    <button class = "btn btn-outline-danger" data-toggle="modal" data-target="#showcode">Join Code</button>
    {% endif %}

    <br><br>

    <h3 style="color:#800000;">Current Members in {{ party }}</h1>

    <table class = "table">
        <tr>
            <td>
                <h2 style="font-size:15px">Name</h2>
            </td>
            <td colspan="3">
                <h2 style="font-size:15px">Email</h2>
            </td>
        </tr>
        {% for member in members %}
        <tr>
            <td>
                {{ member.name }}
            </td>
            <td>
                {{ member.email }}
            </td>
            {% if admin %}
            {% if member.id != admin.id %}
            <td>
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#kick{{ member.id }}">Kick</button>
            </td>
            {% endif %}
            <td>
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#email{{ member.id }}">Send Email</button>
            </td>
            {% endif %}
        </tr>



        <!-- modal for showing join code -->
        <!--https://getbootstrap.com/docs/4.0/components/modal/-->
        <div class="modal fade" id="showcode" tabindex="-1" role="dialog" aria-labelledby="showcode" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="showcode">Join Code</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ code }}
                    </div>
                    <div class="modal-footer">
                        {% if admin %}
                        <form action="/change_code" method="POST">
                            <button type="submit" class="btn btn-danger">Change Code</button>
                        </form>
                        {% endif %}
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>




        <!-- modal for kicking somebody -->
        <!--https://getbootstrap.com/docs/4.0/components/modal/-->
        <div class="modal fade" id="kick{{ member.id }}" tabindex="-1" role="dialog" aria-labelledby="kickuser" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="kickModalLabel">Kick Party Member</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you would like to kick this user from your Secret Santa Party? This action is irreversible.
                    </div>
                    <form action="/delete" method="POST">
                        <div class="modal-footer">
                            <input type="hidden" name="recipientid" value="{{ member.id }}"/>
                            <button type="submit" class="btn btn-primary" name="delete" value="{{ member.id }}">Yes</button>
                            <button type="button" class="btn btn-secondary" value="Cancel" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- modal for sending email -->
        <!--https://getbootstrap.com/docs/4.0/components/modal/-->
        <div class="modal fade" id="email{{ member.id }}" tabindex="-1" role="dialog" aria-labelledby="SendEmail" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Send Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/sendemail" method="POST">
                        <div class="modal-body">
                            <input type="hidden" name="recipientid" value="{{ member.id }}"/>
                            <div class="form-group">
                                <label for="emailmessage" class="col-form-label">Message:</label>
                                <input type="text" class="form-control" id="emailmessage" placeholder = "type message here" name="message">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancel" value="cancel">Cancel</button>
                            <button type="submit" class="btn btn-primary" name="submit" value="send">Send Email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </table>

    <!-- modal for setting date -->
    <!--https://getbootstrap.com/docs/4.0/components/modal/-->
    <div class="modal fade" id="date" tabindex="-1" role="dialog" aria-labelledby="setdate" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/date" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Set Date</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="month" class="col-form-label">Month</label>
                            <select id="month" name="month">
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="day" class="col-form-label">Day</label>
                            <select id="day" name="day">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" name="cancel" value="cancel">Cancel</button>
                        <button type="submit" class="btn btn-primary" name="submit" value="send">Set Date</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if admin %}
        <form action="/draw" method="POST">
            <button type="submit" class="btn btn-outline-danger">Draw</button>
        </form>
        <br>
    {% endif %}


        <!--leave party button-->
        <button class = "btn btn-outline-danger" data-toggle="modal" data-target="#leaveparty">Leave Party</button>

        <!--confirmation modal-->
        <div class="modal fade" id="leaveparty" tabindex="-1" role="dialog" aria-labelledby="leaveparty" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="leaveparty">Leave Party</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to leave this party?
                    </div>
                    <div class="modal-footer">
                        <form action="/leave" method="POST">
                            <button type="submit" class="btn btn-outline-danger">Leave Party</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}